@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Hegarty&family=Boldonse&display=swap');

body {
  display: grid;
  place-items: center;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  background: #963;
}


.cofee {
  font-size: 1.5rem;
  font-family:'BBH Sans Bartle', 'Boldonse', 'Segoe UI', Arial, sans-serif;
  color: #210;
 font-weight:900;
  letter-spacing: 0.15em;
  text-align: right;
  padding-right:5rem;
  line-height: 9em;
  appearance: none;
  position: relative;
  width: 26em;
  height: 9em;
  background: #eee8;
  border-radius: 20em;
  z-index: 1;
  overflow: hidden;
  text-shadow: 0 2px 8px #fff, 0 1px 0 #642;
  transition: color 0.75s, text-align 0.75s, letter-spacing 0.75s;
}

.cofee::before {
  content: "";
  width: 7em;
  aspect-ratio: 1 / 1;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 23%;
  transform: translate(-50%, -50%) rotate(0);
  background-image: linear-gradient(#200 0 0),
    radial-gradient(farthest-side, #0000 90%, #fff 0 99%, #0000),
    radial-gradient(farthest-side, #642 99%, #0000),
    radial-gradient(farthest-side, #210 99%, #0000),
    radial-gradient(farthest-side, #ddd 99%, #0000), linear-gradient(#fff 0 0),
    radial-gradient(farthest-side, #fff 99%, #0000),
    radial-gradient(farthest-side, #fff 99%, #0000),
    radial-gradient(farthest-side, #ddd 99%, #0000),
    radial-gradient(farthest-side, #000 60%, #fff 0 90%, #0000);
  background-repeat: no-repeat;
  background-position: 50% 50%, 50% 50%, 50% 50%, 53% 50%, 54.5% 24.5%,
    55% 20%, 45% 15%, 50% 50%;
  background-size: 1% 50%, 120% 120%, 44% 60%, 44% 60%, 0 0, 0 0, 0 0, 0 0,
    0 0;
  background-color: #00f3;
  transition: all 0.75s;
  z-index: 0;
}

.cofee:hover::before {
  left: 77%;
  transform: translate(-50%, -50%) rotate(360deg);
  background-position: 50% 50%, 55% 35%, 55% 39%, 55% 39%, 55% 35%, 55% 55%,
    55% 71.5%, 55% 77%, 15% 55%;
  background-size: 0 0, 55% 25%, 48% 20%, 0% 0%, 54.5% 24.5%, 55% 27.5%,
    55% 20%, 45% 15%, 25% 20%;
  background-color: #f003;
}

.cofee:hover {
  text-align: left;
  padding-left:5rem;
  letter-spacing: 0.15em;
  color: #642;
  font-weight: 800;
}

.cofee[disabled] {
  opacity: 0.25;
}

@media print {
  .cofee,
  .cofee::before,
  .cofee::after {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

@media (prefers-reduced-motion) {
  .cofee,
  .cofee::before,
  .cofee::after {
    transition: none !important;
    animation: none !important;
  }
}

