* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #892a2a;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-container {
  height: 700px;
  width: 700px;
}

model-viewer {
  height: 100%;
  width: 100%;
}